form {
    /*Centrage*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#fond_menu_inscription {
    /*Position*/
    position: relative;

    /*Centrage*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /*Dimensions*/
    width: 1000px;
    height: 500px;

    /*Styles*/
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 5px;

    border: solid;
}