header {
  /*Position*/
  position: absolute;
  z-index: 2;

  /*Centrage*/
  display: flex;
  justify-content: center;
  align-items: center;

  /*Dimensions*/
  height: 50px;
  width: 100%;

  /*Style*/
  background-color: var(--main-color-transparent);
  box-shadow: 0px 5px 10px var(--color-shadow);
}
