#menu_modif_images {
  /*Position*/
  padding-top: 250px;
}

.ligne_upload {
  /*Dimensions*/
  margin: 5px;

  /*Flex
  display: flex;
  flex-direction: row;*/
}

#plage_insersion_image {
  /*Dimensions*/
  width: 100%;
}
