footer {
  /*Position*/
  position: absolute;
  bottom: 0px;

  /*Dimensions*/
  height: 50px;
  width: 100%;

  /*Style*/
  background-color: var(--main-color-transparent);
  columns: var(---color-text);
}
